<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @graph.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @graph.description %>
</p>

<p>
  <strong>Code:</strong>
  <div style="height:600px;"><%= @graph.code.html_safe %></div>
</p>




<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
